<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title> Portfolio</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="./style.css">
        <!-- Load Vue followed by Vue Router -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/http-vue-loader/src/httpVueLoader.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
        <header >
          <router-link v-if="user.id === null" to='/' class='title'><h1>Portfolio</h1></router-link>
            <nav>
                <router-link to='/register' v-if='user.id == null'><div class="buttons">Inscription</div></router-link>
                <router-link to='/login' v-if='user.id == null'><div class="buttons">Connexion</div></router-link>
                <router-link to='/searchprofil' v-if='user.id == null'><div class="buttons">Profil</div></router-link>
            </nav>
            <button v-if="user.id !== null" class="ham"></button>
          </header>
          
          <div v-if='user.id !== null' class="navbar">
            <ul>
              <li><a v-on:click='disconnectionUser()'><img src="./src/img/logout.png" class="icon"></a></li>
            </ul>
          </div>

          <main>
            <router-view
              :user="user"
              :profils="profils"
              :profil="profil"
              @add-user="addUser"
              @connexion-user="connexionUser"
            ></router-view>
          </main>
        </div>
          <script src="/vue-application.js"></script>
          <script src="./javascript.js"></script>
    </body>
</html>
