@font-face {
    font-family: "Bebas Neue";
    src: url("./src/police/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Champagne";
    src: url("./src/police/Champagne\ &\ Limousines\ Italic.ttf");
}
  
body {
    font-family: "Bebas Neue", serif;
   /* background-image: linear-gradient(to right, #2e2d3f, #2b2b2b);*/
    color:rgb(207, 201, 201);
    animation-name:startingfade;
    animation-duration:10s;
    height:100%;
    background-image: url("https://wallpaperaccess.com/full/2109.jpg");
   

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
  scrollbar-color: #000 rgba(0,0,0,.15);
  scrollbar-width: thin;
}

/* TITLE */
h1{
    text-align:center;
    color:white;
    font-size: 90px;
}

.title{
    text-decoration: none;
    color: white;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:200');

/* NAVIGATION */
nav{
    margin-top: -8%;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.buttons{
    display: inline-block;
    text-align: center;
    margin:60px; 
    
}
.buttons:first-child, .bouton:last-child{
  margin-right: 2%;
  margin-left: 2%;
}

.buttons{
    position:relative;
    padding: 8px;
    background:transparent;
    color:white;
    font-size:30px;
    font-family:"Bebas Neue";
    border:none;
    cursor:pointer;
    transition:0.7s;
    border-bottom:1px solid white;
    
}
.buttons:hover{
  transform: translateY(-10px);
}

.buttons::after{
  content:'';
  width:0%;
  height:4px;
  background: linear-gradient(to left, #743ad5, #d53a9d);
  position:absolute;
  top:0%;left:50%;
  border-radius:10px;
  transition:all 500ms ease;
}
.buttons:hover::after{
  left:0%;
  right:0%;
  width:100%;
}
.signature{
    padding-top:120px;
    text-align:center;
    bottom:0;
    
}
.center {
  display: table;
  width: 100%;
  height: 20vh;
 bottom: 0%; 
}

#social-test {
  display: table-cell;
  text-align: center;
  font-size: 30px;
}
.social {
   padding-left: 0px;
}
li {
  display: inline-block;
}
li a {
  
  color: rgba(256, 256, 256, 0.6);
  border-radius: 6px;
  list-style-type: none;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  padding: 1%;
  border: 1px solid rgba(256, 256, 256, 0.6);
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: ease 0.7s;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 1);
  }
li a:hover {
  color: rgba(256, 256, 256, 1);
  border: 1px solid rgba(256, 256, 256, 1);
  transform: translateY(-10px);
}

/* Hamburger menu */
.icon{
  width: 50px;
  height: 50px;
}
.ham {
  position: absolute;
  /* always keep ham on top of everything */
  z-index: 1000;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  filter: brightness(0) invert(1);
  background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
  background-size: 100%;
}


/* change ham image to close */
.showClose {
  background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  transform: translateY(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
}


.showNav {
  /* show the menu */
  transform: translateY(0);
}

/* basic nav styling below */

.navbar ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li a {
  color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.navbar ul li a:hover, .navbar ul li a:focus {
  border-bottom: 2px solid white;
}